.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/

**/*.quarto_ipynb

# secrets
.Renviron

# Cache directories and large data files
**/cache/
*.gpkg
*.csv
# But allow small essential csvs if needed
!**/essential_data.csv
