project:
  type: website
  output-dir: docs

website:
  title: "Aurélien Sallin"
  site-url: "https://aureliensallin.ch"
  repo-url: "https://github.com/ASallin/asallin.github.io"
  google-analytics: "G-W2D6L26NC8" # Replace with your Google Analytics Measurement ID
  navbar:
    title: "Aurélien Sallin, PhD" # override printing your website `title`
    # logo: media/logo.png
    # logo-alt: "Alt text for logo"
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: research.qmd
        text: News & Activities
      - posts.qmd
    right: # accepts right/left/center; you can also place items individually on the left, right, and center
      - href: file/path/to/myCV.pdf # providing a relative file path to a pdf will open up a browser-based pdf viewer when clicked
        text: CV
        target: _blank # opens link (or page) in a new browser tab
      - icon: github # add icons as navbar buttons
        href: https://github.com/ASallin
        target: _blank
  page-footer:
    background: light # or `dark`
    left: Copyright 2026, Aurélien Sallin
    right: This website is built with {{< fa heart title="a heart" >}}, [{{< fa brands r-project title="R Project" >}}](https://www.r-project.org/about.html){target=_blank} and [Quarto](https://quarto.org/){target=_blank}


format:
  html:
    theme: styles.scss # I've also removed the `css: styles.css` option that was included by default, since I'll be writing all my sass and css in this single styles.scss file
    mainfont: Inter # Professional, modern sans-serif
    #mainfont: Karla
    #css: styles.css
    toc: true
    page-layout: full
    grid: # to format layout of "HOME" Site, formating of other sites is defined in styles_publications.css, styles_talks.css, etc
      sidebar-width: 180px
      body-width: 1100px
      margin-width: 200px
      gutter-width: 1.5rem


editor: source


